extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Ali Chegini

        p.lead.text-light
          | JavaScript Full Stack Engineer

      
        .portfolio-bio
          p
            //| To be filled later.
      
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li Node.js
          li Express.js
          li React.js
          li HTML 
          li CSS
        h6 Contact

        ul
          li ali.c.fullstack@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/alichegini/' target="blank") LinkedIn
        a.button.expanded(href='https://github.com/AliChegini' target="blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  